extends base

block content 

    main
        section.blog__template
            h1= blog.title
            .blog__tags
                each tag in blog.tags 
                    p= tag
            .blog__template__info
                p Author: #{blog.Author.userName}
                p= blog.createdAt.toLocaleString('en-US',{year: 'numeric', month: 'long',day: 'numeric'})
            .blog__hero
                img(src='/images/blog-bg.jpg' alt='blog_hero')
                p.blog__content= blog.content
        