extends base

block content 

    main
        section.blog__template
            if(editable)
                .blogs_edit_icons 
                    div.edit_blog
                        img(src = "../../images/pen.png")
                    div.delete_blog
                        img(src = "../../images/bin.png")
            h1= blog.title
            .blog__tags
                each tag in blog.tags 
                    p= tag
            .blog__template__info
                p Author: #{blog.Author.userName}
                p= blog.createdAt.toLocaleString('en-US',{year: 'numeric', month: 'long',day: 'numeric'})
            .blog__hero
                img(src= blog.hero?`../../${blog.hero}`:'/images/default.png' alt='blog_hero')
            .blog_content_container
                each para in blog.content.split("\n")
                    p.blog__content= para 
                    br
        