extends base

block content
    main
        section.hero
            .hero__content
                h1
                    | Let Your Thoughts 
                    br
                    | flow out
                p Share your knowledge with the world, Be a creator and get your work recognised.
            .hero__image
                img(src='../images/hero-image.svg' alt='hero-image')
        section.blogs
            p.blogs__heading Blogs
            
            .blogs_container
                each blog,index in blogs 
                    if(index < 2)
                        a(href= blog.slug?`http://127.0.0.1:3000/blogger/blogs/${blog.slug}`:'#').blog_card
                            .blog_bg
                                img(src='../images/blog-bg.jpg' alt='blog-bg')
                            .blog_info
                                p.blog_title #{blog.title}
                                .blog_inscript= blog.content.substr(0,100)
                                .blog_create
                                    p= blog.createdAt.toLocaleString('en-US',{year: 'numeric', month: 'long',day: 'numeric'})
                                    p #{blog.Author.userName}
                                .tags
                                    each tag in blog.tags 
                                        span #{tag}
                    

            .get__more
                a(href='http://127.0.0.1:3000/blogger/blogs') Get More
