extends base

block content
    main
        section.myblogs 
            h1 My Blogs
            .filter
                p Search By Tags
                .blog__tags 
                    each tag in tagsList 
                        a(href = `/blogs?tags=${tag}`).blog__tag #{tag}
            if !blogs.length
                .blogs__empty 
                    div You do not have any blogs
            else
                .blogs_container
                    each blog in blogs
                        a(href= blog.slug?`/blogs/${blog.slug}`:'#').blog_card
                            .blog_bg
                                img(src= blog.hero?`../../${blog.hero}`:'../images/blog-bg.jpg' alt='blog-bg')
                            .blog_info
                                p.blog_title #{blog.title}
                                .blog_inscript= blog.content.substr(0,100)
                                .blog_create
                                    div= blog.createdAt.toLocaleString('en-US',{year: 'numeric', month: 'long',day: 'numeric'})
                                    div #{blog.Author.userName}
                                .tags
                                    each tag in blog.tags 
                                        span #{tag}
