extend base

block content 
  main
    .user_container
      .update__links
        p.changeInfo Change Info
        p.ChangeProfilePic Change Profile pic
        p.ChangePassword Change Password
        p.logOut Log Out
        p.delete Delete Account
      .user_pic
        .user_photo
      .user_info
        .user_details
          p UserName
          p= user.userName
        .user_details
          p Email
          p= user.email
        .user_details
          p Website 
          p= user.website?user.website:'xyz.com'
        .user_details
          p Country 
          p= user.country?user.country: 'USA'
        .user_details
          p State 
          p= user.state?user.state: 'California'
        .user_details
          p City 
          p= user.city?user.city: 'Los Angeles'
        .user_details
          p Linked In 
          p= user.linkedin?user.linkedin: 'xyz@linkedin.com'
        .user_details
          p Twitter
          p= user.twitter?user.twitter: 'xyz@twitter.com'
        .user_details
          p Instagram
          p= user.instagram?user.instagram: 'xyz@instagram.com'
        .user_details
          p GitHub 
          p= user.gihub?user.github: 'xyz@github.com'

